
.btn--default.theme__colors {

  padding: 30px;
  width: 80%;
  margin-top: 30px;
  font-size: 2em;
  color: $white;
  background-color: $bright-turquoise;
}

.btn--success.theme__colors {
  padding: 30px;
  width: 80%;
  margin-top: 30px;
  font-size: 2em;
  color: $white;
  background-color: $forest-green;
}

.btn--error.theme__colors {
  padding: 30px;
  width: 80%;
  margin-top: 30px;
  font-size: 2em;
  color: $white;
  background-color: $carnation;
}

.btn--warning.theme__colors {
  padding: 30px;
  width: 80%;
  margin-top: 30px;
  font-size: 2em;
  color: $white;
  background-color: $coral;
}

.btn--info.theme__colors {
  padding: 30px;
  width: 80%;
  margin-top: 30px;
  font-size: 2em;
  color: $white;
  background-color: $lavender;
}
