
.form {
  @extend %centered;
}

.form__input {
  margin: 10px 10px 10px 50px;
  padding: 30px;
  width: 90%;
  display: block;
  border-style: none;
  border-bottom: 5px solid $bright-turquoise;
  font-size: 2em;
  outline: none;
  font-family: $font-stack-primary;
  @include mq(large){
    font-size: 1.5em;
    height: 150px;
    width: 80%;
    margin-bottom: 20px;
  }

}

.form__label--hidden {
  display: none;
}
