
.form {
  @extend %centered;
}

.form__input {
  margin: 10px 10px 10px 50px;
  padding: 30px;
  width: 90%;
  display: block;
  border-style: none;
  border-bottom: 5px solid $bright-turquoise;
  font-size: 2em;
  outline: none;

}

.form__label--hidden {
  display: none;
}
