



.grid__col--3 {
  width: 80%;
  margin: 10px auto;
  padding: 30px;

  @extend %rounded;
}

.grid__col--4 {
  width: 80%;
  margin: 10px auto;
  padding: 30px;
  @extend %rounded;
}

.grid__col--5 {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  @extend %rounded;
}

.grid__col--6 {

  width: 80%;
  margin: 10px auto;
  padding: 30px;
  @extend %rounded;
}
.grid__col--7 {
  width: 80%;
  margin: 10px auto;
  padding: 30px;
  @extend %rounded;
}
.grid__col--8 {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  @extend %rounded;
}

.grid__col--12 {
width: 80%;
margin: 0 auto;
padding: 30px;
@extend %rounded;
}

.grid__row{
  display: flex;
  flex-direction: column;
  @extend %centered;
  margin: 70px;

}






@each $grid, $color in $grid-col {
  .grid__col--#{$grid} {
    &.theme__colors{
    background-color: $color;
    text-align: left;
  ;
  }
}
}
