
.nav {
  display: flex;
  flex-direction: column;
  padding: 20px;
  @include mq(large){
    display: flex;
    flex-direction: row;

  }

}

.nav__item {
  margin: 10px;
  padding: 10px;
  font-size: 2em;
  color: $gray;
  font-family: $font-stack-primary;
  @extend %centered;
  @include mq(large){
    font-size: 1.5em;
    margin-top: 100px;
  }


}

.nav__item :hover{
  color: $white;
  background-color: $bright-turquoise;
  @extend %rounded;
  @extend %ease-in;
}

.link {
  color: $bright-turquoise;
  padding: 0;
  margin: 0;
}
a {
  padding: 20px 100px 20px 100px;
  margin: 20px;
  text-decoration: none;
  color: $gray;
  @include mq(large){
    padding: 10px;
    margin: 0;
  }



}
